html,
body {
  padding: 0;
  margin: 0;
  font-family: PingFangSC -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:root {

            animation-play-state: paused;
            /* Bind the animation to scroll */
            animation-delay: calc(var(--scroll) * -1s);
            /* These last 2 properites clean up overshoot weirdness */
            animation-iteration-count: 1;
            animation-fill-mode: both;
}

